html { 
  background: url(back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

ol, ul {
  list-style-type: none;
  font-family: 'Nunito', sans-serif;
}

ol {
	font-size: 14px;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: -10px;
}

h1 {
  font-family: 'Bowlby One SC', cursive;
  font-size: 40px;
  text-decoration: underline;
  animation-name: bounceIn;
  animation-duration: 0.7s;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
	}
}

input {
    width: 25%;
    min-width: 250px;
    margin-left: 50px;
    padding: 3px 0px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

input:focus::placeholder {
  color: transparent;
}

#enter {
	padding: 4px 10px;
}

.newlist {
  margin-top: 20px;
  padding: 7px 10px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.container {
	width: 45%;
	min-width: 450px;
	margin: auto;
	margin-top: 30px;
}

ul > li {
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
	padding: 7px 10px;
	color: #2D2D2D;
	text-transform: capitalize;
	border: 2px solid #494949;
	border-radius: 5px;
	margin-bottom: 7px;
	background: white;
  transition: background-color 200ms linear; 
	cursor: pointer;
	overflow:hidden
}

.done {
	background-color: #BCBCBC;
	color: #ECECEC;
	border: 2px solid #757575;
	text-decoration: line-through;
	text-decoration-color: rgba(255,255,255,0.7);
}


